<div class="px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 mt-8 flex justify-center">
    <div class="border w-1/2">
        <header class=" mx-8 py-4 border-b flex flex-row items-center justify-between">
            {{!-- TITLE --}}
            <h2 class="text-3xl font-semibold">Why MVC is so important!</h2>
            {{!-- POST INFO --}}
            <p class="text-sm">Posted by WyattBensman on 5/28/2000</p>
        </header>
        <div class="m-8 flex flex-col">
            {{!-- CONTENT --}}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit totam esse ex, ad porro quas, itaque
                accusantium modi culpa velit quisquam laboriosam, incidunt delectus magnam? Quam aperiam repellat
                saepe officiis.</p>
        </div>
    </div>
</div>