<div class="px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 mt-8 flex justify-center">
    <a href="/edit-post" class="border rounded w-3/4 py-2 flex justify-between">
        {{!-- TITLE --}}
        <h2 class="mx-8 text-xl">HEyadsfljkasdlk</h2>
        {{!-- DATE POSTED --}}
        <h2 class="mx-8 text-xl">5/8/2000</h2>
    </a>
</div>