<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <header>
        <nav
            class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 py-4 bg-white shadow sm:items-baseline w-full">
            <div class="mb-2 sm:mb-0">
                <a href="/" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">Home</a>
                <a href="/one" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark ml-8">Dashboard</a>
                {{!-- Need to Create a login.handlebars, this will be the body --}}
                {{#if !loggedIn}}
                <a href="/login" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark ml-8">Login</a>
                {{else}}
                <button class="text-2xl no-underline text-grey-darkest hover:text-blue-dark ml-8"
                    id="logout">Logout</button>
                {{/if}}
            </div>
        </nav>
        <h1 class="text-4xl px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 py-4 pt-8">The Tech Blog</h1>
    </header>

    <main>
        {{body}}
    </main>
</body>