<h1 class="text-2xl text-center">Welecome to your Dashboard!</h1>
<div class="px-4 sm:px-8 md:px-16 lg:px-20 xl:px-24 mt-4 flex justify-center">
    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 w-40 rounded" type="submit">New
        Post!</button>
</div>
{{!-- blogPostArray is in the render thing --}}
{{#each dashboardPostArray as |dashboardPost|}}
{{> dashboardPost}}
{{/each}}